body {
    background-color: #daf5c8;
}

h1 {
    margin-top: 30px;
    margin-left: 140px;
    margin-bottom: 20px;
}

.tit {
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    padding: 20px;
}

.body table,
th,
td {
    border: 2px solid black;
    margin-left: 30px;
}

.bodytable {
    margin-left: 170px;
    margin-top: 30px;
}

.info {
    text-align: justify;
    padding: 10px;
}

a {
    list-style-type: none;
    color: rgb(66, 126, 150);
    margin-left: 5px;
    text-decoration: none;
    padding-right: 5px !important;
}

.body button {
    width: 90px;
    margin-left: 250px;
    margin-top: 15px;
}

.input-information {
    margin-left: 30px;
    height: 30px;
    width: 310px;
    margin-bottom: 5px;
    margin-bottom: 15px;
}

.btn{
    width: 70px;
    margin-left: 150px;
}

